<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Village</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h1>A village</h1>
    <p>A starting point</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget eros in ipsum imperdiet aliquam. Mauris efficitur lectus vel diam mollis, vel bibendum tellus faucibus. Vivamus eget nisl vel libero pulvinar suscipit. Sed sit amet velit vel magna mollis ornare. Nulla facilisi. Donec tempus, pede a facilisis tincidunt, pede pede posuere pede, a facilisis tincidunt pede.</p>

<h1>Morbi vulputate magna vel eros</h1>

<p>Morbi vulputate magna vel eros condimentum, vel bibendum tellus faucibus. Vivamus eget nisl vel libero pulvinar suscipit. Sed sit amet velit vel magna mollis ornare. Nulla facilisi. Donec tempus, pede a facilisis tincidunt, pede pede posuere pede, a facilisis tincidunt pede.</p>

<p>Nullam eget eros in ipsum imperdiet aliquam. Mauris efficitur lectus vel diam mollis, vel bibendum tellus faucibus. Vivamus eget nisl vel libero pulvinar suscipit. Sed sit amet velit vel magna mollis ornare. Nulla facilisi. Donec tempus, pede a facilisis tincidunt, pede pede posuere pede, a facilisis tincidunt pede.</p>

<h1>Suspendisse potenti</h1>

<p>Suspendisse potenti. Morbi vulputate magna vel eros condimentum, vel bibendum tellus faucibus. Vivamus eget nisl vel libero pulvinar suscipit. Sed sit amet velit vel magna mollis ornare. Nulla facilisi. Donec tempus, pede a facilisis tincidunt, pede pede posuere pede, a facilisis tincidunt pede.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget eros in ipsum imperdiet aliquam. Mauris efficitur lectus vel diam mollis, vel bibendum tellus faucibus. Vivamus eget nisl vel libero pulvinar suscipit. Sed sit amet velit vel magna mollis ornare. Nulla facilisi. Donec tempus, pede a facilisis tincidunt, pede pede posuere pede, a facilisis tincidunt pede.</p>

<h1>Cras fermentum, nisl a fringilla rhoncus</h1>

<p>Cras fermentum, nisl a fringilla rhoncus, leo nisl sodales est, a alliquam elit odio quis tortor. Nullam eget eros in ipsum imperdiet aliquam. Mauris efficitur lectus vel diam mollis, vel bibendum tellus faucibus. Vivamus eget nisl vel libero pulvinar suscipit. Sed sit amet velit vel magna mollis ornare. Nulla facilisi. Donec tempus, pede a facilisis tincidunt, pede pede posuere pede, a facilisis tincidunt pede.</p>

<p>Morbi vulputate magna vel eros condimentum, vel bibendum tellus faucibus. Vivamus eget nisl vel libero pulvinar suscipit. Sed sit amet velit vel magna mollis ornare. Nulla facilisi. Donec tempus, pede a facilisis tincidunt, pede pede posuere pede, a facilisis tincidunt pede.</p>

<h1>Nulla facilisi</h1>

<p>Nulla facilisi. Donec tempus, pede a facilisis tincidunt, pede pede posuere pede, a facilisis tincidunt pede. Nullam eget eros in ipsum imperdiet aliquam. Mauris efficitur lectus vel diam mollis, vel bibendum tellus faucibus. Vivamus eget nisl vel libero pulvinar suscipit. Sed sit amet velit vel magna mollis ornare.</p>

<p>Suspendisse potenti. Morbi vulputate magna vel eros condimentum, vel bibendum tellus faucibus. Vivamus eget nisl vel libero pulvinar suscipit. Sed sit amet velit vel magna mollis ornare. Nulla facilisi. Donec tempus, pede a facilisis tincidunt, pede pede posuere pede, a facilisis tincidunt pede.</p>

  </main>
</body>
</html>

