{% include 'header.html' %}

<h1>About</h1>
{{ public_about|safe }}

{% if show_private_details %}

{{ private_about|safe }}

<h1>Our Markdown Formatting</h1>
{{ markdown_docs|safe }}

{% endif %}

<h1>The Village</h1>

<p>
  The Village is a community center for small groups of people on the
  internet. It is designed to support groups of up to about 100
  people. It's basically a private BBS or Forum for asynchronous
  discussions.
</p>

<p>
  The Village is under <a href="https://github.com/apiarian/village"
			  target="_blank">sporadic development</a> by Al.
</p>

{% include 'footer.html' %}
