{% include 'header.html' %}

<div id="chat-messages"></div>

<div id=input-area>
  <input
      type="text"
      id="message-input"
      placeholder="Type a message and press Enter"
  >
</div>
<!-- <div id="chat-status"> -->
<!--   Connected -->
<!-- </div> -->

<script type="text/javascript">
  const chatMessages = document.getElementById('chat-messages');
  const messageInput = document.getElementById('message-input');

  let currentPollRequest = null;
  let currentPollRequestController = null;
  let maxTimestampMicroseconds = 0;

  function cleanupMessages() {
    const ids = new Array();

    const oldIds = new Array();
    limit = Date.now() * 1000 - (1000000 * 60 * 60);

    for (const child of chatMessages.children) {
      if (parseInt(child.id) < limit) {
        oldIds.push(child.id)
      }

      ids.push(child.id)
    }

    if (ids.length > 100) {
      ids.slice(100).forEach(id => document.getElementById(id).remove());
    }

    oldIds.forEach(id => document.getElementById(id)?.remove());
  }
  setInterval(cleanupMessages, 1000);

  function addMessage({timestamp_microseconds, author, message}) {
    const messageElement = document.createElement('div');
    messageElement.id = timestamp_microseconds;
    messageElement.setAttribute('class', 'chat-message')

    const timestampElement = document.createElement('span');
    const timestamp = new Date(timestamp_microseconds/1000);
    timestampElement.textContent = timestamp.toLocaleTimeString();
    timestampElement.setAttribute('class', 'chat-message-timestamp');
    messageElement.appendChild(timestampElement)

    const authorElement = document.createElement('span');
    authorElement.textContent = `${author}:`;
    authorElement.setAttribute('class', 'chat-message-author');
    messageElement.appendChild(authorElement);

    const textElement = document.createElement('span');
    textElement.textContent = `${message}`;
    textElement.setAttribute('class', 'chat-message-text');
    messageElement.appendChild(textElement)

    chatMessages.prepend(messageElement);
  }

  function addSystemMessage(message) {
    const messageElement = document.createElement('div');
    messageElement.textContent = message;
    chatMessages.appendChild(messageElement);
  }

  function pollMessages() {
    if (currentPollRequestController) {
      currentPollRequestController.abort()
    }

    currentPollRequestController = new AbortController()
    currentPollRequest = fetch('/chat/poll', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        since_microseconds: maxTimestampMicroseconds,
        command: "list",
      }),
      signal: currentPollRequestController.signal,
    })
      .then(response => response.json())
      .then(data => {
        if (data.messages) {
          data.messages.forEach(message => addMessage(message));
          maxTimestampMicroseconds = Math.max(...data.messages.map(message => message.timestamp_microseconds))
        }
        pollMessages();
      })
      .catch(error => {
        if (!error.name === "AbortError") {
          addSystemMessage(`Polling error: ${error}`);
        }
        setTimeout(pollMessages, 5000);
      });
  }

  function sendMessage(message) {
    currentPollRequestController.abort()

    fetch('/chat/poll', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        since_microseconds: maxTimestampMicroseconds,
        command: "add",
        message: message,
      }),
    })
      .then(response => response.json())
      .then(data => {
        if (data.messages) {
          data.messages.forEach(message => addMessage(message));
          maxTimestampMicroseconds = Math.max(data.messages.map(message => message.timestamp_microseconds))
        }
      })
      .catch(error => {
        addSystemMessage(`Error sending message: ${error}`);
        pollMessages();
      });
  }

  messageInput.addEventListener('keypress', function(event) {
    if (event.key === 'Enter' && this.value.trim() !== '') {
      sendMessage(this.value.trim());
      this.value = '';
    }
  });

  pollMessages();
</script>

{% include 'footer.html' %}
