{% include 'header.html' %}

<h1>Chat</h1>

<div id="chat-messages"></div>

<input
    type="text"
    id="message-input"
    placeholder="Type a message and press Enter"
>

<div id="system-messages"><div>

<script type="text/javascript">
  const chatMessages = document.getElementById('chat-messages');
  const messageInput = document.getElementById('message-input');
  const systemMessages = document.getElementById('system-messages');

  let currentPollRequest = null;
  let currentPollRequestController = null;
  let maxTimestampMicroseconds = 0;

  function addMessage(message) {
    const messageElement = document.createElement('div');
    messageElement.textContent = message;
    chatMessages.appendChild(messageElement);
  }

  function addSystemMessage(message) {
    const messageElement = document.createElement('div');
    messageElement.textContent = message;
    systemMessages.appendChild(messageElement);
  }

  function pollMessages() {
    if (currentPollRequestController) {
      currentPollRequestController.abort()
    }

    currentPollRequestController = new AbortController()
    currentPollRequest = fetch('/chat/poll', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        since_microseconds: maxTimestampMicroseconds,
        command: "list",
      }),
      signal: currentPollRequestController.signal,
    })
      .then(response => response.json())
      .then(data => {
        if (data.messages) {
          data.messages.forEach(message => addMessage(
            `${message.timestamp_microseconds} ${message.author}: ${message.message}`
          ));

          console.log(data.messages.map(message => message.timestamp_microseconds))
          maxTimestampMicroseconds = Math.max(...data.messages.map(message => message.timestamp_microseconds))
        }
        pollMessages();
      })
      .catch(error => {
        if (!error.name === "AbortError") {
          addSystemMessage(`Polling error: ${error}`);
        }
        setTimeout(pollMessages, 5000);
      });
  }

  function sendMessage(message) {
    currentPollRequestController.abort()

    fetch('/chat/poll', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        since_microseconds: maxTimestampMicroseconds,
        command: "add",
        message: message,
      }),
    })
      .then(response => response.json())
      .then(data => {
        if (data.messages) {
          data.messages.forEach(message => addMessage(
            `${message.timestamp_microseconds} ${message.author}: ${message.message}`
          ));

          maxTimestampMicroseconds = Math.max(data.messages.map(message => message.timestamp_microseconds))
        }
      })
      .catch(error => {
        addSystemMessage(`Error sending message: ${error}`);
        pollMessages();
      });
  }

  messageInput.addEventListener('keypress', function(event) {
    if (event.key === 'Enter' && this.value.trim() !== '') {
      sendMessage(this.value.trim());
      this.value = '';
    }
  });

  pollMessages();
</script>

{% include 'footer.html' %}
