{% include 'header.html' %}

<form
    action="/threads/{{ post_id }}/delete"
    method="POST"
    enctype="multipart/form-data"
    class="basic-form"
    id="thread-delete-confirmation"
>
    {% if error %}
    <div class="form-error">Error: {{ error }}</div>
    {% endif %}

    <h1>Warning</h1>
    <p>Once the thread is deleted, it cannot be recovered.</p>

    <input
        id="confirmed"
        type="hidden"
        name="confirmed"
        value="confirmed"
    />

    <div class="form-actions">
        <button type="submit" class="main-button">Confirm</button>
    </div>

</form>

{% include 'footer.html' %}

