{% include 'header.html' %}

<form
    action="/threads/{{ post_id }}/delete"
    method="POST"
    enctype="multipart/form-data"
    class="basic-form"
    id="thread-delete-confirmation"
>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    {% if error %}
    <div class="form-error">Error: {{ error }}</div>
    {% endif %}

    <h1>Warning</h1>
    <p>Once the thread is deleted, it cannot be recovered.</p>

    <input
        id="confirmed"
        type="hidden"
        name="confirmed"
        value="confirmed"
    />

    <div class="form-actions">
        <button type="submit" class="form-button danger-button">Delete Thread</button>
        <a href="/threads/{{ post_id }}" class="form-button extra-button" style="text-decoration: none; display: inline-block; margin-left: 1rem;">Cancel</a>
    </div>

</form>

{% include 'footer.html' %}

