{% include 'header.html' %}

<h1>The Village</h1>
<p>
The Village is a community center for small groups of people on the internet. It is designed to support groups of up to about 100 people. It provides a bulletin board for asyncrhnous discussions and an ephemoral chat tool for live conversations.
</p>

<p>
The Village was designed with ease of use in mind, especially on mobile devices. We try to respect people's time and not generate unnecessary noise, on the website or through other means (no email or other notifications, for example).
</p>

<p>
The server is also easy to manage on minimal hardware, letting groups break free from corporate gardens like Discord and Slack, or the surfeit of features found on something like Discourse.
</p>

<p>
The Village is under <a href="https://github.com/apiarian/village" target="_blank">active development</a> by Al.
</p>

{% include 'footer.html' %}
