{% include 'header.html' %}

<form
    action="/threads/{{ post_id }}/reset_lifecycle"
    method="POST"
    enctype="multipart/form-data"
    class="basic-form"
    id="thread-reset-lifecycle-confirmation"
>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    {% if error %}
    <div class="form-error">Error: {{ error }}</div>
    {% endif %}

    <h1>Note</h1>
    <p>This will restore the default lifecycle for this thread. It will be automatically archived after 7 days of inactivity and expire after 21 days.</p>

    <input
        id="confirmed"
        type="hidden"
        name="confirmed"
        value="confirmed"
    />

    <div class="form-actions">
        <button type="submit" class="form-button main-button">Reset Lifecycle</button>
        <a href="/threads/{{ post_id }}" class="form-button extra-button">Cancel</a>
    </div>

</form>

{% include 'footer.html' %}
