{% include 'header.html' %}

{% if not thread_is_visible %}
<h1>This thread is hidden.</h1>
{% if user_can_administer %}
<p><a href="/threads/{{ root_post_id }}/make_visible">Make it visible.</a></p>
{% endif %}
<hr>
{% endif %}

{% if thread_scope == "public" %}
<h1>This thread is public.</h1>
{% if user_can_administer %}
<p><a href="/threads/{{ root_post_id }}/make_local">Make it local</a></p>
{% endif %}
<hr>
{% endif %}

{% if tags %}
<h1>Tags</h1>
<ul>
{% for tag in tags %}
    <li>{{ tag }}</li>
{% endfor %}
</ul>
<hr>
{% endif %}


{% for message in messages %}
    {% if loop.first %}<h1>{% else %}<h3>{% endif %}
    {{ message.title }}
    {% if loop.first %}</h1>{% else %}</h3>{% endif %}

    <p>
        {% if users[message.author].image_thumbnail %}
            <img src="/uploads/{{ users[message.author].image_thumbnail }}">
        {% endif %}
        &nbsp;
        {% if logged_in_user %}
        <a
            href="/users/{{ message.author }}"
            target="_blank"
        >
          {{ users[message.author].display_name }}
        </a>
        {% else %}
          {{ users[message.author].display_name }}
        {% endif %}
        &nbsp;
        wrote on
        {{ message.timestamp }}
    </p>

    <hr>

    {% if message.upload_filename %}
    <img src="/uploads/{{ message.upload_filename }}">
    {% endif %}

    {{ message_contents[message.id]|safe }}

    {% if message.author == current_username %}
    <p>
        <a href="/threads/{{ root_post_id }}/edit/{{ message.id }}">Edit</a>
    </p>
    {% endif %}

    <hr>
{% endfor %}

{% if user_can_administer %}
{% if thread_is_visible %}
<p><a href="/threads/{{ root_post_id }}/make_hidden">Hide this thread.</a></p>
{% endif %}
{% if thread_scope == "local" and user_can_make_public %}
<p><a href="/threads/{{ root_post_id }}/make_public">Make this thread public.</a></p>
{% endif %}
<p><a href="/threads/{{ root_post_id }}/delete">Delete this thread.</a></p>
{% endif %}

{% if user_can_post %}
<form
    action="/threads/{{ root_post_id }}"
    method="POST"
    enctype="multipart/form-data"
    class="basic-form"
    id="thread-extend-form"
>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <input type="hidden" name="mode" value="update_tags"/>

    <div class="form-group">
        <label for="tags" class="form-label">Tags:</label>
        <select
            id="tags"
            class="form-input"
            name="tags"
            multiple
        >
            {% for tag in tags %}
            <option value="{{ tag }}" selected>{{ tag }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="manual_tags" class="form-label">Write-in Tags:</label>
        <input
            id="manual_tags"
            class="form-input"
            type="text"
            name="manual_tags"
            value=""
        />
    </div>

    <input
        id="tail_context"
        type="hidden"
        name="tail_context"
        value="{{ tail_context }}"
    />

    <div class="form-actions">
        <button type="submit" class="main-button">Update Tags</button>
    </div>
</form>
    
<form
    action="/threads/{{ root_post_id }}"
    method="POST"
    enctype="multipart/form-data"
    class="basic-form"
    id="thread-extend-form"
>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <input type="hidden" name="mode" value="add_message"/>

    {% if error %}
    <div class="form-error">Error: {{ error }}</div>
    {% endif %}

    <div class="form-group">
        <label for="new_title" class="form-label">Title:</label>
        <input
            id="new_title"
            class="form-input"
            type="text"
            name="new_title"
            value="{{ new_title }}"
            required
        />
    </div>

    <div class="form-group">
        <label for="image", class="form-label">Image:</label>
        <input
            id="image"
            class="form-input"
            type="file"
            name="image"
            accept="image/*"
        />
    </div>

    <div class="form-group">
        <label for="new_content", class="form-label">Message:</label>
        <textarea
            id="new_content"
            name="new_content"
            class="form-textarea"
            required
        >{{ new_content|safe }}</textarea>
    </div>

    <input
        id="tail_context"
        type="hidden"
        name="tail_context"
        value="{{ tail_context }}"
    />


    <div class="form-actions">
        <button type="submit" class="main-button">Add Message</button>
    </div>

</form>
{% endif %}

{% include 'footer.html' %}
