{% include 'header.html' %}

<div id="search-form">
<form action="/threads" method="GET" class="search-basic-form">
  <div class="search-form-group">
    <input
      id="search"
      class="form-input"
      type="text"
      name="search"
      placeholder="Search query"
      required
      {% if search %}value="{{ search }}"{% endif %}
    />
  </div>
  <div class="search-form-actions">
    <button type="submit" class="form-button main-button">Search</button>
    <button onclick="location.href='/threads'" type="button"
    class="form-button extra-button">Clear</button>
  </div>
</form>
</div>

{% if all_visible_tags %}
<h1>Tags{% if tag_limit %}&nbsp;(limited to {{ tag_limit }}){% endif %}</h1>
<ul class="tags-list">
  {% for tag in all_visible_tags %}
  <li><a href="/threads?tag={{ tag }}" class="tag-link">{{ tag }}</a></li>
  {% endfor %}
</ul>
{% if tag_limit %}
<p>Go to <a href="/threads">all threads</a>.</p>
{% endif %}
{% endif %}

<h1>Threads{% if tag_limit %}&nbsp;({{ tag_limit }}){% endif %}</h1>
<p><a href="/threads/new">Write a new message</a>.</p>
<p>
  <ul>
    {% for thread_info in threads %}
    <li>
      <a href="/threads/{{ thread_info.root_post_id }}">
        {{ thread_info.title }}
      </a>&nbsp;
      by&nbsp;
      <a
          href="/users/{{ thread_info.author.username }}"
          target="_blank"
      >
        {{ thread_info.author.display_name }}
      </a>
      &nbsp;
      last activity {{ datetime_formatter(thread_info.newest_timestamp) }}
      {% if thread_info.tags %}
      <ul class="tags-inline">
        {% for tag in thread_info.tags %}
        <li><a href="/threads?tag={{ tag }}" class="tag-link">{{ tag }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</p>

{% if hidden_threads %}
<h2>Hidden Threads</h2>
<p>
  <ul>
    {% for thread_info in hidden_threads %}
    <li>
      <a href="/threads/{{ thread_info.root_post_id }}">
        {{ thread_info.title }}
      </a>&nbsp;
      by&nbsp;
      <a
          href="/users/{{ thread_info.author.username }}"
          target="_blank"
      >
        {{ thread_info.author.display_name }}
      </a>
      &nbsp;
      last activity {{ datetime_formatter(thread_info.newest_timestamp) }}
      {% if thread_info.tags %}
      <ul class="tags-inline">
        {% for tag in thread_info.tags %}
        <li><span class="tag-link">{{ tag }}</span></li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</p>
{% endif %}


{% include 'footer.html' %}

