{% include 'header.html' %}

{% if not thread_is_visible %}
<h1>This thread is hidden.</h1>
<p><a href="/threads/{{ messages[0].id }}/make_visible">Make it visible.</a></p>
<hr>
{% endif %}

{% for message in messages %}
    {% if loop.first %}<h1>{% else %}<h3>{% endif %}
    {{ message.title }}
    {% if loop.first %}</h1>{% else %}</h3>{% endif %}

    <p>
        {% if users[message.author].image_thumbnail %}
            <img src="/uploads/{{ users[message.author].image_thumbnail }}">
        {% endif %}
        &nbsp;
        <a
            href="/users/{{ message.author }}"
            target="_blank"
        >
          {{ users[message.author].display_name }}
        </a>
        &nbsp;
        wrote on
        {{ message.timestamp }}
    </p>

    <hr>

    {{ message_contents[message.id]|safe }}

    <hr>
{% endfor %}

{% if thread_is_visible %}
<p><a href="/threads/{{ messages[0].id }}/make_hidden">Hide this thread.</a></p>
{% endif %}
<p><a href="/threads/{{ messages[0].id }}/delete">Delete this thread.</a></p>

<form
    action="/threads/{{ messages[0].id }}"
    method="POST"
    enctype="multipart/form-data"
    class="basic-form"
    id="thread-extend-form"
>
    {% if error %}
    <div class="form-error">Error: {{ error }}</div>
    {% endif %}

    <div class="form-group">
        <label for="new_title" class="form-label">Title:</label>
        <input
            id="new_title"
            class="form-input"
            type="text"
            name="new_title"
            value="{{ new_title }}"
            required
        />
    </div>

    <div class="form-group">
        <label for="new_content", class="form-label">Message:</label>
        <textarea
            id="new_content"
            name="new_content"
            class="form-textarea"
            required
        >{{ new_content|safe }}</textarea>
    </div>

    <input
        id="tail_context"
        type="hidden"
        name="tail_context"
        value="{{ tail_context }}"
    />


    <div class="form-actions">
        <button type="submit" class="main-button">Add Message</button>
    </div>

</form>

{% include 'footer.html' %}
