{% include 'header.html' %}

<div id="search-form">
<form action="/threads" method="GET" class="search-basic-form">
  <div class="search-form-group">
    <input
      id="search"
      class="form-input"
      type="text"
      name="search"
      placeholder="Search query"
      required
      {% if search %}value="{{ search }}"{% endif %}
    />
  </div>
  <div class="search-form-actions">
    <button type="submit" class="form-button main-button">Search</button>
    <button onclick="location.href='/threads?archive={{ is_archive }}'" type="button"
    class="form-button extra-button">Clear</button>
  </div>
</form>
</div>

{% if all_visible_tags %}
<h1>Tags{% if tag_limit %}&nbsp;(limited to {{ tag_limit }}){% endif %}</h1>
<ul class="tags-list">
  {% for tag in all_visible_tags %}
  <li><a href="/threads?tag={{ tag }}&archive={{ is_archive }}" class="tag-link">{{ tag }}</a></li>
  {% endfor %}
</ul>
{% if tag_limit %}
<p>Go to <a href="/threads?archive={{ is_archive }}">all threads</a>.</p>
{% endif %}
{% endif %}

<h1>{% if is_archive %}Archive{% else %}Threads{% endif %}{% if
  tag_limit %}&nbsp;({{ tag_limit }}){% endif %}</h1>
{% if not is_archive %}
<p><a href="/threads/new">Write a new
    message</a>. <a href="/threads/new?template=calendar-event">Make
    a new calendar event</a>.</p>
{% else %}
<p><a href="/threads?archive=false">Back to current threads.</a>
  Archived threads expire after 21 total days of inactivity.</p>
{% endif %}
<ul class="threads-list">
  {% for thread_info in threads %}
  <li class="thread-item{% if not thread_info.has_new_context %} thread-item--inactive{% endif %}">
    <div class="thread-title-line">
      <a href="/threads/{{ thread_info.root_post_id }}" class="thread-title">
        {{ thread_info.title }}
      </a>
      {% if thread_info.tags %}
      <ul class="tags-inline">
        {% for tag in thread_info.tags %}
        <li><a href="/threads?tag={{ tag }}&archive={{ is_archive }}" class="tag-link">{{ tag }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="thread-meta-line">
      Started by <a href="/users/{{ thread_info.author.username }}" target="_blank">
        {{ thread_info.author.display_name }}
      </a>
      &middot;
      {% if thread_info.has_new_context
      %}<strong class="thread-activity-new">new activity</strong> {%
      else %} last activity {% endif %} {{ datetime_formatter(thread_info.newest_timestamp) }}
    </div>
  </li>
  {% endfor %}
</ul>

{% if hidden_threads %}
<h2>Hidden Threads</h2>
<ul class="threads-list">
  {% for thread_info in hidden_threads %}
  <li class="thread-item{% if not thread_info.has_new_context %} thread-item--inactive{% endif %}">
    <div class="thread-title-line">
      <a href="/threads/{{ thread_info.root_post_id }}" class="thread-title">
        {{ thread_info.title }}
      </a>
      {% if thread_info.tags %}
      <ul class="tags-inline">
        {% for tag in thread_info.tags %}
        <li><span class="tag-link">{{ tag }}</span></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="thread-meta-line">
      Started by <a href="/users/{{ thread_info.author.username }}" target="_blank">
        {{ thread_info.author.display_name }}
      </a>
      &middot;
      {% if thread_info.has_new_context
      %}<strong class="thread-activity-new">new activity</strong> {%
      else %} last activity {% endif %} {{ datetime_formatter(thread_info.newest_timestamp) }}
    </div>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if not is_archive %}
<p>Threads are archived after 7 total days of inactivity.
{% if archive_has_threads %}
<a href="/threads?archive=true">Go to archive.</a>
{% endif %}
</p>
{% endif %}


{% include 'footer.html' %}

