{% include 'header.html' %}

<form action="/update_password" method="POST" class="login-form">
    {% if error %}
    <div class="form-error">Error: {{ error }}</div>
    {% endif %}
    <div class="form-group">
        <label for="username" class="form-label">Username:</label>
        <input
            id="username"
            class="form-input"
            type="text"
            name="username"
            disabled
            {% if username %}value="{{ username }}"{% endif %}

        >
    </div>
    <div class="form-group">
        <label for="current_password" class="form-label">Current Password:</label>
        <input type="password" id="current_password" name="current_password" required class="form-input">
    </div>

    <div class="form-group">
        <label for="new_password" class="form-label">New Password:</label>
        <input type="password" id="new_password" name="new_password" required class="form-input">
    </div>

    <div class="form-group">
        <label for="new_password_again" class="form-label">New Password Again:</label>
        <input type="password" id="new_password_again" name="new_password_again" required class="form-input">
    </div>

    <div class="form-actions">
        <button type="submit" class="login-button">Update Password</button>
    </div>
</form>

{% include 'footer.html' %}
