{% include 'header.html' %}

<h1>
  {% if user.image_thumbnail %}
  <img src="/uploads/{{ user.image_thumbnail }}">
  {% endif %}
  {{ user.display_name }}
</h1>
<p>Username: <code>{{ user.username }}</code></p>
{% if user == g.user %}
<p>
  Update
  <a href="/users/{{ user.username }}/edit">Profile</a>,
  <a href="/update_password">Password</a>.
</p>
{% endif %}
<hr>
{{ content|safe }}
{% if user.image_filename %}
<hr>
<img src="/uploads/{{ user.image_filename }}">
{% endif %}

{% include 'footer.html' %}
